h1 {
  font-size: 2em;
  color: grey;
  text-align: center;
  background-color: rgb(58, 6, 6);
}

p {
  text-align: left;
  font-size: 1em;
  color: blue;
  font-style: italic;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: blue;
}